/*-----------------------------------------------------------------------------------
	Monzani
	Author: Manuel Rosique
	Version: 1.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}
.scroll-fx-lock-init{position:fixed!important;top: 0;bottom: 0;left: :0;right: 0;z-index:99999;} /* ScrollFX Lock */
.blocs-grid-container{display: grid!important;grid-template-columns: 1fr 1fr;grid-template-rows: auto auto;column-gap: 1.5rem;row-gap: 1.5rem;} /* CSS Grid */
nav .dropdown-menu .nav-link{color:rgba(0,0,0,0.6)!important;} /* Maintain Downdown Menu Link Color in Navigation */
[data-bs-theme="dark"] nav .dropdown-menu .nav-link{color:var(--bs-dropdown-link-color)!important;} /* Maintain Downdown Menu Link Color in Navigation in Darkmode */

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
	position:relative;
}


/* Sizes */

.bloc-lg{
	padding:100px 20px;
}
.bloc-md{
	padding:50px 20px;
}
.bloc-sm{
	padding:20px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Group Styles */

.bloc-group{
	display:flex;
}
.bloc-tile-2{
	width:50%;
}
.bloc-tile-3{
	width:33.33333333%;
}
.bloc-tile-4{
	width:25%;
}
.bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	width:100%;
}


/* Background Effects */

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
}
.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-md{
	margin-top:50px;
}


/* = NavBar
-------------------------------------------------------------- */

/* Navbar Icon */
.svg-menu-icon{
	fill: none;
	stroke: rgba(0,0,0,0.5);
	stroke-width: 2px;
	fill-rule: evenodd;
}
.navbar-dark .svg-menu-icon{
	stroke: rgba(255,255,255,0.5);
}
.menu-icon-thin-bars{
	stroke-width: 1px;
}
.menu-icon-thick-bars{
	stroke-width: 5px;
}
.menu-icon-rounded-bars{
	stroke-width: 3px;
	stroke-linecap: round;
}
.menu-icon-filled{
	fill: rgba(0,0,0,0.5);
	stroke-width: 0px;
}
.navbar-dark .menu-icon-filled{
	fill: rgba(255,255,255,0.5);
}
.navbar-toggler-icon{
	background: none!important;
	pointer-events: none;
	width: 33px;
	height: 33px;
}

/* Nav Special Classes */
.nav-special{
	overflow-y:scroll;
}
.nav-special .site-navigation{
	top:0;
	left:0;
	width:100%;
	position: relative!important;
	max-width: 100%!important;
	z-index: 1000;
}
.nav-special .nav > li{
	width:100%;
	background: none!important;
	border:0!important;
}
.nav-special.collapsing{
	-webkit-transition: none;
	transition: none;
	height:100%!important;
	background: none!important;
}
.nav-special .navbar-nav .dropdown-menu.show{
	position: relative!important;
	transform: none!important;
	float: none;
	width: 100%;
	margin-top: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
.nav-special .nav .dropdown-menu .nav-link{
	color:#FFF;
}
.blocsapp-special-menu{
	position: absolute;
	z-index:10000;
}
.nav-special.fullscreen-nav .caret,.nav-special.fullscreen-nav .dropdown-menu .dropdown .caret{
	border-width: 8px;
}
.nav-special .navbar-nav .show>.nav-link{
	color:#FFF;
}

/* Animate Menu Symbol */
.navbar-toggle{
	transition: all .1s linear;
}
.selected-nav{
	opacity: 0;
	transform: scale(0.3);
	transition: all .1s linear;
}


/* Special Menu Close Button */
.close-special-menu{
	position: absolute;
	display: block;
	width: 25px;
	height:25px;
	top:16px;
	right:10px;
	z-index: 10000;
}
.nav-invert .sidebar-nav .close-special-menu{
	left:260px;
}
.close-special-menu .close-icon{
	display: block;
	width:100%;
	height:1px;
	transform: rotate(45deg);
	margin-top:12px;
}
.close-special-menu .close-icon:after{
	content:"";
	display:inherit;
	width:inherit;
	height:inherit;
	background: inherit;
	transform: rotate(90deg);
}
.lock-scroll{
	overflow:hidden;
	transition: background .3s linear;
}
.nav-special::-webkit-scrollbar{
	-webkit-appearance: none;
	width:0;
	height:0;
}
.nav-special .dropdown-menu .dropdown .caret{
	border-top-color: rgba(255,255,255,.8);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	margin: 0 0 0 5px;
	float: none;
}
.blocsapp-special-menu .site-navigation.pull-right{
	float:none!important;
}

/* Nav Special Close Button */
.close-special-menu .close-icon{
	background:#fff;
}
.blocsapp-special-menu blocsnav{
	background: #000;
}

/* Side Bar Navigation */
.nav-special.sidebar-nav{
	position: fixed;
	right: -300px;
	top: 0;
	bottom: 0;
	width: 300px;
	z-index: 1000;
	transition: all .2s linear;
}
.nav-invert .nav-special.sidebar-nav{
	right: auto;
	left: -300px;
}
 .nav-special.sidebar-nav .site-navigation{
	margin-top:15px;
	padding-left:15px;
}
.nav-special.sidebar-nav .nav > li a{
	color:rgba(255,255,255,.8);
}
 .nav-special.sidebar-nav .nav > li a:hover{
	color:#FFF;
}
 .open.nav-special.sidebar-nav{
	right: 0;
	transition: all .2s linear;
}
.nav-invert .open.nav-special.sidebar-nav{
	left: 0;
	transition: all .2s linear;
}
.navbar-toggler:focus{
	box-shadow:none;
}
;
	
/* Content Tint */
.content-tint{
	z-index: -1;
	transition: background .2s linear;
}
.content-tint.on{
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	z-index: 1001;
	background:rgba(0,0,0,.4);
}
.content-tint.on:hover{
	background:rgba(0,0,0,.1);
}
.navbar-toggle.menu-icon-rounded-uneven-list{
	margin-top:7px!important;
}
/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}
/* = Open menus on hover
-------------------------------------------------------------- */
@media (min-width: 992px){
	.hover-open-submenu li:hover > .dropdown > .dropdown-menu, .hover-open-submenu .dropdown-menu > li:hover .dropdown-menu{
	display: block;
}
.hover-open-submenu li .dropdown .dropdown-menu{
	margin-top:0;
}
}
/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 40px;
}
.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}
.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}


/*  Image Protection */
.img-protected{
	-webkit-touch-callout: none;
}



/* = Cards
-------------------------------------------------------------- */
.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}
/* = Masonary
-------------------------------------------------------------- */
.card-columns .card {
	margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
	.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}
.card-columns .card {
	display: inline-block;
	width: 100%;
}
}
/* = Classic Dividers
-------------------------------------------------------------- */
.divider-h{
	min-height: 1px;
	background-color:rgba(0,0,0,.2);
	margin: 20px 0;
}
.divider-half{
	width: 50%;
}
.dropdown-menu .divider-h{
	margin:0;
}

/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}


.carousel-nav-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}

.carousel-caption-center{
	top: 50%;
	bottom: initial;
	transform: translateY(-50%);
}

.hide-indicators{
	display:none;
}

.carousel-indicators li::marker{
	font-size:0;
}
/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	line-height: 42px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.5);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 16px;
	right: 16px;
	bottom: 0px;
}
.close-lightbox:hover,.next-lightbox:hover, .prev-lightbox:hover{
	background:rgba(0,0,0,.5);
}
.next-lightbox, .prev-lightbox,.close-lightbox{
	position: absolute;
	padding:6px;
	background:rgba(0,0,0,.3);
	line-height:0;
	transition: background .2s ease-in-out;
	border-radius:.25rem;
	border:none;
	z-index:20;
}
.next-lightbox, .prev-lightbox{
	top:45%;
}
.close-lightbox{
	top:20px;
	right:20px;
}
.next-lightbox{
	right:25px;
}
.prev-lightbox{
	left:25px;
}
.lightbox-prev-icon,.lightbox-next-icon,.lightbox-close-icon{
	fill:none;
	stroke: #fff;
	stroke-width: 3px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
.lightbox-close-svg{
	pointer-events:none;
}

/* Hide Object */
.object-hidden{
	display:none;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.row-owl{
	width:90%;
	margin-right:auto;
	margin-left:auto;
}
.logo-color-size{
	width:200px;
}
.icono-size{
	width:50px;
	height:50px;
}
.logo-footer-size{
	width:200px;
}
.icono-social-size{
	width:35px;
}
.cocoen-drag::before{
	background-image:url("img/icono-comparacion.svg");
	content:"";
	background-size:contain;
	background-repeat:no-repeat;
}
.icnos-nosotros{
	width:150px;
}
.navbar-brand img{
	width:180px;
}
.h1-title{
	font-family:"Poppins";
	font-weight:800;
	text-transform:uppercase;
	font-size:4em;
}
.space-title-banner{
	margin-top:300px;
}
.h2-cursiva-hero{
	font-family:"Poppins";
	font-weight:300;
	font-style:italic;
	text-transform:uppercase;
	font-size:2.2em;
}
.h3-titles{
	font-family:"Poppins";
	font-weight:600;
	font-size:2em;
}
.p-general{
	font-family:"Poppins";
	font-weight:400;
	font-size:1em;
	text-decoration:none;
}
.h3-normal-agenda{
	font-family:"Poppins";
	font-weight:300;
	text-transform:uppercase;
	font-size:2.5rem;
}
.h3-altas-bold{
	font-family:"Poppins";
	font-weight:600;
	text-transform:uppercase;
	font-size:3em;
}
.h4-disparos{
	font-family:"Poppins";
	font-weight:500;
	font-style:italic;
	text-transform:uppercase;
	font-size:1.5em;
}
.space-iconos-button{
	margin-bottom:25px;
}
.h4-footer{
	font-family:"Poppins";
	font-weight:600;
}
.space-row-contact{
	margin-top:10px;
	margin-bottom:10px;
}
.space-iconos-footer{
	margin-right:5px;
}
.h1-interiores{
	font-family:"Poppins";
	font-weight:500;
	font-size:3em;
}
.h2-title-card{
	font-family:"Poppins";
	font-weight:500;
	font-size:1.7em;
}
.numeros{
	font-size:5em;
	font-family:"Poppins";
	font-weight:500;
}
.p-datos{
	font-family:"Poppins";
	font-weight:500;
	font-size:1.5em;
}
.divider-background-color{
	background-color:#013062;
	height:2px;
}
.space-buttun-img{
	margin-bottom:40px;
}
.h3-tarjetas-servicios{
	font-family:"Poppins";
	font-weight:600;
	text-transform:none;
	font-size:1.5em;
	text-decoration:none;
}
.h2-volver{
	font-family:"Poppins";
	font-weight:600;
	text-transform:none;
	font-size:2.5em;
	text-decoration:none;
}
.link-preguntas{
	font-family:"Poppins";
	font-weight:600;
	font-size:1.5em;
	text-transform:none;
	text-decoration:none;
}
.sin-fondo{
	background-color:transparent;
	border-color:transparent!important;
}
.row-top-card{
	margin-top:-70px;
	z-index:99;
}
.h5-pone{
	font-family:"Poppins";
	font-weight:500;
	text-decoration:none;
}
.nav-general{
	font-family:"Poppins";
	font-weight:normal;
	margin-right:10px;
}
.active-nav{
	font-family:"Poppins";
	font-weight:600;
}
.logo-monzani-header{
	width:180px;
}
.blocsapp-special-menu blocsnav li a{
	color:#FEFFFE!important;
}
.line-formulario{
	border-style:solid;
	border-color:rgba(2,48,97,0.50)!important;
	border-radius:100px 100px 100px 100px;
}
.btn-txt{
	font-family:"Poppins";
	font-weight:600;
}
.card-header-margen{
	border-style:_popUpItemAction:;
	border-color:transparent!important;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.sombra-card:hover{
	box-shadow:0.00px -1.00px 15px rgba(0,0,0,0.20);
}
.sapce-option{
	margin-bottom:15px;
}
.owl-prev{
	background-size:auto auto;
	background-image:url("img/flecha-anterior.png");
	background-repeat:no-repeat;
}
.owl-next{
	background-image:url("img/flecha-siguiente.png");
	background-repeat:no-repeat;
	background-size:auto auto;
	background-position:right center;
}
.space-btn-whtas{
	margin-bottom:15px;
}
.line-formulario-mensaje{
	border-style:solid;
	border-color:rgba(2,48,97,0.50)!important;
	border-radius:20px 20px 20px 20px;
}
.links-no-line{
	text-decoration:none;
}
.nav-general:hover{
	font-family:"Poppins";
}
.nav-general:active{
	font-family:"Poppins";
}
.nav-general:focus{
	font-family:"Poppins";
}
.nav-general:visited{
	font-family:"Poppins";
}
.active-nav:hover{
	font-family:"Poppins";
	font-weight:600;
}
.active-nav:active{
	font-family:"Poppins";
	font-weight:600;
}
.active-nav:focus{
	font-family:"Poppins";
	font-weight:600;
}
.active-nav:visited{
	font-family:"Poppins";
	font-weight:600;
}

/* = Colour
-------------------------------------------------------------- */

/* Swatch Variables */
:root{
	
	--swatch-var-7285:rgba(255,255,255,1.00);
	
	--swatch-var-2864:#003061;
	
	--swatch-var-7612:#EFF2F3;
	
	--swatch-var-2869:#000000;
	
	--swatch-var-2941:#FFFFFF;
	
	--swatch-var-1534:#EFF2F3;
	
}


/* Background colour styles */

.bgc-2864{
	background-color:var(--swatch-var-2864);
}
.bgc-7612{
	background-color:var(--swatch-var-7612);
}
.bgc-1534{
	background-color:var(--swatch-var-1534);
}

/* Text colour styles */

.tc-2864{
	color:var(--swatch-var-2864)!important;
}
.tc-7285{
	color:var(--swatch-var-7285)!important;
}
.tc-2941{
	color:var(--swatch-var-2941)!important;
}
.tc-1534{
	color:var(--swatch-var-1534)!important;
}
.tc-2869{
	color:var(--swatch-var-2869)!important;
}
.tc-7612{
	color:var(--swatch-var-7612)!important;
}

/* Button colour styles */

.btn-c-7285{
	background:var(--swatch-var-7285);
	color:rgba(0,0,0,.5)!important;
}
.btn-c-7285:hover{
	background:#CCCCCC!important;
	color:rgba(0,0,0,.5)!important;
}
.btn-c-2864{
	background:var(--swatch-var-2864);
	color:#FFFFFF!important;
}
.btn-c-2864:hover{
	background:#00002E!important;
	color:#FFFFFF!important;
}
.wire-btn-c-2864{
	color:var(--swatch-var-2864)!important;
	border-color:var(--swatch-var-2864)!important;
}

/* Link colour styles */

.ltc-7285{
	color:var(--swatch-var-7285)!important;
}
.ltc-7285:hover{
	color:#CCCCCC!important;
}
.ltc-2864{
	color:var(--swatch-var-2864)!important;
}
.ltc-2864:hover{
	color:#00002E!important;
}
.ltc-2941{
	color:var(--swatch-var-2941)!important;
}
.ltc-2941:hover{
	color:#CCCCCC!important;
}

/* Bloc image backgrounds */

.bg-background-descanso-monzani{
	background-image:url("img/background_descanso_monzani.jpg");
}
.bg-banner-tratamiento-corporales{
	background-image:url("img/banner_tratamiento_corporales.jpg");
}
.bg-perdida-de-peso-acelerada-01-monzani{
	background-image:url("img/perdida_de_peso_acelerada_01_monzani.jpg");
}
.bg-prosculpt-01-monzani{
	background-image:url("img/prosculpt_01_monzani.jpg");
}
.bg-depilacion-ipn-monzani-01{
	background-image:url("img/depilacion_ipn_monzani_01.jpg");
}
.bg-lipoenzimas-01-monzani{
	background-image:url("img/lipoenzimas_01_monzani.jpg");
}
.bg-limpieza-profunda-monzani-01{
	background-image:url("img/limpieza_profunda_monzani_01.jpg");
}
.bg-facial-correctivo-monzani-01{
	background-image:url("img/facial_correctivo_monzani_01.jpg");
}
.bg-facial-elixir-monzani-01{
	background-image:url("img/facial_elixir_monzani_01.jpg");
}
.bg-perdida-de-peso-01-monzani{
	background-image:url("img/perdida_de_peso_01_monzani.jpg");
}
.bg-limpieza-profunda-monzani-02-banner{
	background-image:url("img/limpieza_profunda_monzani_02_banner.jpg");
}
.bg-reduccion-de-celulitis-monzani-01{
	background-image:url("img/reduccion_de_celulitis_monzani_01.jpg");
}
.bg-Monzani-12{
	background-image:url("img/Monzani-12.jpg");
}
.bg-banner-contacto{
	background-image:url("img/banner_contacto.jpg");
}

/* = Custom Bric Data
-------------------------------------------------------------- */

.cocoen{
	box-sizing:border-box;
	cursor:pointer;
	line-height:0;
	margin:0;
	overflow:hidden;
	padding:0;
	position:relative;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none}.cocoen *{
	box-sizing:inherit}.cocoen ::after,.cocoen ::before{
	box-sizing:inherit}.cocoen img,.cocoen picture>img{
	max-width:none}.cocoen>img,.cocoen>picture>img{
	display:block;
	width:100%}.cocoen>div:first-child,picture .cocoen > div{
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:50%}.cocoen-drag{
	background:#fff;
	bottom:0;
	cursor:ew-resize;
	left:50%;
	margin-left:-1px;
	position:absolute;
	top:0;
	width:2px}.cocoen-drag::before{
	content: "";
	height: 10%;
	left: 50%;
	margin-left: -15px;
	position: absolute;
	top: 50%;
	width: 30px;
	border-radius: 3px;
	background: ;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	box-shadow: 0 0 0px rgba(0,0,0,.0);
}
.rating,.rating-empty{
		position: relative;
		display:inline-block;
}
.rating-score{
		position: absolute;
		overflow: hidden;
		left: 0;
		top:0;
		z-index:1;
}
.smartnav{
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:1030;
	-webkit-overflow-scrolling:touch;
}
.smartnav .navbar-nav>.nav-item a.nav-link{
	border:0 solid transparent}.scrolled-down{
	transform:translateY(-100%);
	transition:all .3s ease-in-out}.scrolled-up{
	transform:translateY(0);
	transition:all .3s ease-in-out}.hide-indicators {
	visibility: hidden;
}
.swiffy-container a[data-lightbox] {
}
.swiffy-container a[data-lightbox] img{
	width: 100%;
	 height: var(--bs-aspect-ratio);
	 opacity: 0;
}
.swiffy-container a[data-lightbox]:hover{
	height: 98%;
}
.swiffy-container a[data-lightbox].none{
	display:none;
}
.swiffy-container .swiffy-modal-link {
	position: absolute;
	 opacity: 0;
	 top: 0;
	 background-color: white;
	 width:100%;
	 height: 100%;
}
.swiffy-container .swiffy-slider {
	height:100% !important;
}

/* = Additional CSS
-------------------------------------------------------------- */
.btn-white {
font-family: "Poppins";
font-weight: 500;
color: #023061!important;
}

.btn-white:hover {
font-family: "Poppins";
font-weight: 500;
color: #023061!important;
}

.navbar-light .menu-icon-rounded-uneven-list .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(250, 250, 250, 0.8)' stroke-miterlimit='10' d='M3.5,7A1.5,1.5,0,1,1,2,8.5,1.5,1.5,0,0,1,3.5,7Zm6,0h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,7Zm0,7h17a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,14Zm0,7h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,21Zm-6-7A1.5,1.5,0,1,1,2,15.5,1.5,1.5,0,0,1,3.5,14Zm0,7A1.5,1.5,0,1,1,2,22.5,1.5,1.5,0,0,1,3.5,21Z'/%3E%3C/svg%3E");
}

.float{
	position:fixed;
	width:45px;
	height:45px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
   font-size:30px;
   z-index:100;
}

.my-float{
	margin-top:07px;
}



/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.navbar-brand img{
		width:120px;
	}
	.space-title-banner{
		margin-top:200px;
	}
	.h1-title{
		font-size:4em;
	}
	.h2-cursiva-hero{
		font-family:"Poppins";
		font-weight:500;
		text-transform:uppercase;
		font-style:italic;
	}
	.h3-titles{
		font-size:2em;
	}
	.h3-titles:hover{
	}
	.h4-disparos{
		font-size:1em;
	}
	.space-iconos-footer{
	}
	.space-top{
		margin-top:5px;
	}
	.p-general{
	}
	.h1-interiores{
		font-family:"Poppins";
		font-weight:500;
		text-transform:uppercase;
		font-size:2em;
	}
	.h2-title-card{
		font-size:1.5em;
	}
	.numeros{
		font-size:4em;
	}
	.p-datos{
		font-size:1.2em;
	}
	.h3-tarjetas-servicios{
		font-size:1.2em;
	}
	.h2-volver{
		font-size:2em;
	}
	.blocsapp-special-menu blocsnav{
		background-color:#003061;
	}
	.colum-altura{
		height:250px;
	}
	.logo-monzani-header{
		width:120px;
	}
	
	/* MD Row Margin Offsets */
	.voffset-clear-md{
		margin-top:0;
	}
		.voffset-md{
		margin-top:30px;
	}
	
	/* MD Text Margin Offsets */
	.mg-md-md{
		margin-top:10px;
		margin-bottom:20px;
	}
	
}

@media (max-width: 767px){
	.text-right{
	}
	.text-left{
	}
	.text-center{
	}
	.h1-title{
		font-size:2.5em;
	}
	.space-title-banner{
		margin:0px 0px 0px 0px;
	}
	.h2-cursiva-hero{
		font-size:1.5em;
	}
	.h3-titles{
		font-size:1.5em;
	}
	.h3-normal-agenda{
		font-size:1.5rem;
	}
	.h3-altas-bold{
		font-size:2em;
	}
	.logo-color-size{
		width:150px;
		margin-bottom:30px;
	}
	.h4-disparos{
		font-size:1.5em;
	}
	.space-top{
		width:200px;
	}
	.h1-interiores{
		font-size:2em;
	}
	.h3-tarjetas-servicios{
		font-size:1em;
	}
	.h2-volver{
		font-size:1.5em;
	}
	.link-preguntas{
		font-size:1.3em;
	}
	.smartnav{
	}
	.row-top-card{
		margin-top:-50px;
	}
	.links-no-line{
	}
	.space-buttun-img{
	}
	.sidebar-nav{
		width:230px!important;
	}
	.nav-special.sidebar-nav .nav > li{
		width:80%;
	}
	.nav-invert .sidebar-nav .close-special-menu{
		left:200px;
	}
	
	/* Small Row Margin Offsets */
	.voffset-sm{
		margin-top:30px;
	}
	
	/* Small Text Margin Offsets */
	.mg-clear-sm{
		margin:0;
	}
	
}

@media (max-width: 575px){
	.footer-link{
		text-align:center;
	}
	.h1-title{
		font-size:1.9em;
	}
	.h2-cursiva-hero{
		font-size:1.5em;
	}
	.h3-titles{
		font-size:1.4em;
	}
	.h3-normal-agenda{
		font-size:1.4rem;
	}
	.p-general{
	}
	.h3-altas-bold{
		font-size:1.5em;
	}
	.logo-color-size{
		width:110px;
	}
	.space-top{
		width:250px;
	}
	.h1-interiores{
		font-size:1.5em;
	}
	.space-card{
		margin-top:15px;
		margin-bottom:15px;
	}
	.h3-tarjetas-servicios{
		font-size:1.2em;
	}
	.h2-volver{
		font-size:1.5em;
	}
	.link-preguntas{
		font-size:1.2em;
	}
	.row-top-card{
		margin-top:-20px;
	}
	.colum-altura{
		height:200px;
	}
	.nav-general{
	}
	.blocsapp-special-menu blocsnav li a{
		font-family:"Poppins";
		font-weight:normal;
	}
	.space-comen{
		margin-top:25px;
		margin-bottom:25px;
	}
	.btn-txt{
	}
	
	/* Mobile Row Margin Offsets */
	.voffset-xs{
		margin-top:30px;
	}
	
	/* Mobile Text Margin Offsets */
	.mg-lg-xs{
		margin-top: 10px;
		margin-bottom:40px;
	}
		.mg-clear-xs{
		margin:0;
	}
	
}

